<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.willwan.tennisbooker.test</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/willwallwan/Documents/GitHub/Octogon/run_tennis_booker.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>StandardErrorPath</key>
    <string>/Users/willwallwan/Documents/GitHub/Octogon/tennis_booker_test_error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/willwallwan/Documents/GitHub/Octogon/tennis_booker_test_output.log</string>
</dict>
</plist> 